<div class="modal-header lipi-blue-bg">
  <h4 class="modal-title">Detalle Venta <i class="fa fa-spinner fa-spin" *ngIf="loadingFindById"></i></h4>
  <button type="button" class="close" aria-hidden="true" (click)="dismiss()">×</button>
</div>
<div class="modal-body">
    <hr>
    <div class="row">
        <div class="col-md-2">
            <img src="{{ order[0].cylinderByLocal.cylinder.image }}" alt="" width="100">
        </div>
        <div class="col-md-3">
            <h3>{{ order[0].cylinderByLocal.cylinder.name }}</h3>
        </div>
        <div class="col-md-3">
            <p>x {{ order[0].quantity }}</p>
        </div>
        <div class="col-md-3">
            $ {{ order[0].cylinderByLocal.finalPrice }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            Subtotal
        </div>
        <div class="col-md-6">
            $ {{ order[0].cylinderByLocal.zonePrice }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Descuento
        </div>
        <div class="col-md-6">
            $ {{ order[0].cylinderByLocal.discount }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Total
        </div>
        <div class="col-md-6">
            $ {{ order[0].cylinderByLocal.finalPrice }}
        </div>
    </div>
</div>
<div class="modal-footer">
  <a href="javascript:;" class="btn btn-white" (click)="dismiss()">Salir</a>
</div>