<div class="modal-header lipi-blue-bg">
  <h4 class="modal-title">Cambio de clave</h4>
  <button type="button" class="close" aria-hidden="true" (click)="dismiss()">×</button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
          <div class="form-group row">
                <label class="col-lg-2 col-form-label">Nueva clave</label>
                <div class="col-lg-10">
                      <input type="password" class="form-control" placeholder="Nueva clave..." [(ngModel)]="user[0].password">
                </div>
          </div>
    </div>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-lipi-yellow" (click)="updatePasswordByIdAndStatusEqualToOne()" [disabled]="loadingUpdatePasswordByIdAndStatusEqualToOne">Cambiar clave <i class="fa fa-spinner fa-spin" *ngIf="loadingUpdatePasswordByIdAndStatusEqualToOne"></i></button>
  <a href="javascript:;" class="btn btn-white" (click)="dismiss()">Salir</a>
</div>