<div id="page-wrapper" class="gray-bg">
      <div class="row border-bottom white-bg">
            <nav class="navbar navbar-expand-lg navbar-static-top" role="navigation">    
                  <a routerLink="/menu/home" class="navbar-brand" style="background-color:white;padding: 6px 0px;"><img src="assets/img/menu-lipigas.svg"></a>
                  <button class="navbar-toggler" style="background-color: #FFCD00;" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-reorder"></i>
                  </button>

                  <div class="navbar-collapse collapse" id="navbar">
                        <ul class="nav navbar-nav mr-auto" style="font-size: 14px;">
                              <ng-container *ngFor="let role of roles">
                                    <li routerLinkActive="active" *ngIf="role.id == 1">
                                          <a routerLink="/menu/home">
                                                <i class="fa fa-home"></i> Inicio
                                          </a>
                                    </li>
                                    <li routerLinkActive="active" *ngIf="role.id == 2">
                                          <a routerLink="/menu/searcher">
                                                <i class="fa fa-search"></i> Bucador
                                          </a>
                                    </li>
                                    <li routerLinkActive="active" *ngIf="role.id == 3 && localId != null">
                                          <a routerLink="/menu/options">
                                                <i class="fa fa-filter"></i> Opciones
                                          </a>
                                    </li>
                                    <li routerLinkActive="active" *ngIf="role.id == 4 && localId != null">
                                          <a routerLink="/menu/prices">
                                                <i class="fa fa-money"></i> Precios
                                          </a>
                                    </li>
                                    <li routerLinkActive="active" *ngIf="role.id == 5">
                                          <a routerLink="/menu/locals">
                                                <i class="fa fa-truck"></i> Locales
                                          </a>
                                    </li>
                                    <li routerLinkActive="active" *ngIf="role.id == 6">
                                          <a routerLink="/menu/users">
                                                <i class="fa fa-users"></i> Usuarios
                                          </a>
                                    </li>
                                    <li routerLinkActive="active" *ngIf="role.id == 7">
                                          <a routerLink="/menu/reports">
                                                <i class="fa fa-pie-chart"></i> Reportes
                                          </a>
                                    </li>
                                    <li routerLinkActive="active" *ngIf="role.id == 8">
                                          <a routerLink="/menu/configurations">
                                                <i class="fa fa-cogs"></i> Configuraciones
                                          </a>
                                    </li>
                              </ng-container>
                        </ul>
                        <ul class="nav navbar-top-links navbar-right">
                              <li>
                                    <a (click)="logOut()">
                                          <i class="fa fa-sign-out"></i> Cerrar sesión
                                    </a>
                              </li>
                        </ul>
                  </div>
            </nav>
      </div>
      <div class="wrapper wrapper-content">
            <div class="container">
                  <router-outlet></router-outlet>
            </div>
      </div>
</div>